#hurting.whitebox
  %h2 Where are you <span class="red">hurting?</span>

  #hurting-list.clearfix
    - @categories.each do |category|
      .item
        %span{class: category.css_class}
        %p= category.name
  
  .get-help
    %button Get Help

%h2.bold.centered How do we work?
#how-we-work.whitebox.clearfix
  .col1
    %h3.orange We're a consortium
    %p
      Quisque dignissim leo vel arcu iaculis placerat. Duis auctor luctus odio vitae suscipit. 
      Integer fermentum vestibulum augue, at semper purus egestas ut. Nulla facilisi. Nulla 
      facilisi. In a lacus turpis. Donec at nisl eget tortor tincidunt ultricies. In vel suscipit 
      lectus. Suspendisse a lectus turpis. Curabitur et tempor enim. Aliquam non leo non nisi 
      sagittis adipiscing sed vitae libero. Cras nec aliquet quam. Sed vel diam tortor. Vestibulum 
      porttitor consequat odio sed sagittis. Donec id lectus lacus. Suspendisse elementum odio quam, 
      sit amet volutpat nunc.
    
  .col2
    %h3.orange We provide 24/7 online support
    %p
      Quisque dignissim leo vel arcu iaculis placerat. Duis auctor luctus odio vitae suscipit. 
      Integer fermentum vestibulum augue, at semper purus egestas ut. Nulla facilisi. Nulla facilisi. 
      In a lacus turpis. In vel suscipit lectus. Sed vel diam tortor. Vestibulum porttitor consequat 
      odio sed sagittis.

:javascript
  this.App.home();