/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "reset";
@import "bourbon";
@import "main";
@import "problem_requests";
@import "affiliates";


.alert, .error {
  color: #B94A48;
  background-color: #F2DEDE;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #EED3D7;
  @include border-radius(4px);
  
  li {
    font-family: $title-font;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
  }
  
}