// Place all the styles related to the ProblemRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin category_sprite($row, $col, $color: 'grey') {
  $row_px: -($row)*90;
  $col_px: -($col)*90;
  
  // offsets for colored sprites
  @if $color == 'yellow' {
    $row_px: $row_px - 180 ;
  } @else if $color == 'red' {
    $row_px: $row_px - 360;
  }
  
  background-position-x: $col_px + px;
  background-position-y: $row_px + px;
}


#how-we-work {
  h3 {
    text-align: center;
  }
  
  .col1 {
    width: 510px;
    margin-right: 25px;
    float: left;
  }
  
  .col2 {
    width: 310px;
    margin-left: 25px;
    float: left;    
  }
}

.item {
  color: #999;
  
  input[type='checkbox'] {
    display: none;
  }
  
  span { 
    @include inline-block; 
    width: 90px;
    height: 90px;
    background: url('/assets/categories_sprite.png') no-repeat;
  }   
      
  .slow-computer { @include category_sprite(0,0); &.red { @include category_sprite(0,0, 'red'); }}
  .android { @include category_sprite(0,1); &.red { @include category_sprite(0,1, 'red'); }}
  .apple { @include category_sprite(0,2); &.red { @include category_sprite(0,2, 'red'); }}
  .older-generation { @include category_sprite(0,3); &.red { @include category_sprite(0,3, 'red'); }}
  .wireless { @include category_sprite(1,0); &.red { @include category_sprite(1,0, 'red'); }}
  .internet { @include category_sprite(1,1); &.red { @include category_sprite(1,1, 'red'); }}
  .routers { @include category_sprite(1,2); &.red { @include category_sprite(1,2, 'red'); }}
  .up-to-date { @include category_sprite(1,3); &.red { @include category_sprite(1,3, 'red'); }}
  
  &.selected {
    p { color: #333; }    
    .slow-computer { @include category_sprite(0,0, 'yellow'); }
    .android { @include category_sprite(0,1, 'yellow'); }
    .apple { @include category_sprite(0,2, 'yellow'); }
    .older-generation { @include category_sprite(0,3, 'yellow')  }
    .wireless { @include category_sprite(1,0, 'yellow'); }
    .internet { @include category_sprite(1,1, 'yellow'); }
    .routers { @include category_sprite(1,2, 'yellow'); }
    .up-to-date { @include category_sprite(1,3, 'yellow'); }  
  }
}

.get-help {
  width: 125px;
  margin: 0px auto;
}


#hurting {
  margin-bottom: 25px;
  h2 {
    color: #4e4e4e;
    text-align: center;    
    .red {
      font-weight: 400;
    }
  }
}

.category-form  {  
  width: 700px;
  margin: auto;
  margin-bottom: 20px;
}


#identify-problems {  
  margin-bottom: 25px;
  
  h2 {
    text-align: center;
  }
  
  .numeration {
    font-style: italic;
    text-align: center;
    font-size: 18px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .banner {
    height: 50px;
    line-height: 50px;    
    background: #b82a2f;
    color: white;  
    
    h1 {
      font-family: $title-font;
      font-size: 28px;
      padding-left: 40px;
      font-weight: 300;
    }
  }
  
  .input.text {
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    
    textarea {
      width: 100%;
      height: 70px;
    }
  }
  
  .contact-info {
    font-size: 18px;
    width: 450px;
    margin: auto;
    
    span.error {
      display: inline-block;
    }
    
    .input {
      margin-bottom: 10px;
    }
    
    label {
      display: inline-block;
      min-width: 110px;
    }
    
    input {
      display: block;
      font-size: 18px;
      border: 1px solid #999;
      border-radius: 5px;
    }
  }
}

.form-submits {
  text-align: center;
}

#hurting-list {
  .item {
    font-size: 20px;
    font-weight: 300;
    font-family: $title-font;
    width: 217px;
    text-align: center;
    float: left;
    margin-bottom: 25px;
    
    p {
      line-height: 25px;    
    }
    
    img {
      display: block;
      width: 90px;
      height: 90px;
      margin: auto;
      margin-bottom: 12px;
    }    
  }
}

.problem-detail-list {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  
  label{
    width: 50%;
    float: left;
    height: 30px;
  }
}


span.error {
  @include error;
  font-size: 13px;
}